.saved-container{
    margin-top: 50px;
    position: sticky;
    top: 100px;
    

}

.time{
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 25px 50px;
    background-color: #EFEDFD;
    font-weight: 500;
    font-size: larger;
    
}

.blogs{
    margin-top: 20px;
    padding: 20px;
    background-color: #EFEDFD;
    border-radius: 10px;
}