.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #EFEDFD;
    position: sticky;
    top: 0;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a{
        text-decoration: none;
        margin-left: 20px;
}