.news-container h2, p{
    text-align: start;
    
}

.news-container{
    justify-content: start;
        /* position: relative ; */
        width: 900px;
        background-color: #EFEDFD;
        margin-top: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.news-container img{
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    
}

.profile{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.profile img{
    
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

.profile-info{
    margin-left: 10px;
    text-align: start;
}
.profile-info h3{
    margin: 0;
}

.tags{
    display: flex;
}
.tags p{
    margin-right: 10px;
}

.icon{
    font-size: 30px;
}
.icon:hover{
    color: #8A2BE2;
    
}

.others{
    margin-left: 25px;
    margin-right: 25px;
    
}

button{
    display: block;
    background-color: #a780cc;
    border: 0;
    border-radius: 8px;
    padding: 10px 20px;
    /* justify-content: flex-start; */
}